* {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  font: 14px/1.5 Verdana, sans-serif;
}

body {
  font: inherit;
  padding: 2em;
  background-color: gray;
}

.card {
  display: block;
  width: 300px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 0 0.1em 0 rgb(0, 0, 0, 0.2);
  border-radius: 0.3em;
  overflow: hidden;
  text-decoration: none;
  color: #333;
}

.card span,
.card img {
  display: block;
}

.card .media img {
  width: 100%;
  height: auto;
}

.card .main,
.card .footer {
  padding: 1em;
}

.card .footer span:nth-child(1) {
  font-weight: bold;
}

.card .footer span:nth-child(2) {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-style: italic;
}