.container {
  display: flex;
  border: 3px solid blue;
  padding: 10px;
  align-items: flex-start;
  width: 400px;
}

.item {
  padding: 10px;
  border: 2px solid black;
  flex-basis: 300px;
  background-color: gray;
}

.flex-shrink-zero {
  flex-shrink: 0;
}

.flex-shrink-2nd-only {
  flex-shrink: 1;
}