h1 {
  color:aqua;
}

p {
  font-size: 20px;
}

li {
  color:chartreuse;
}

.highlight {
  background-color: brown;
}

#main-title {
  color: yellowgreen;
}

#special-paragraph {
  font-style:italic;
}

.divclass {
  background-color:blueviolet;
}