html {
  font-size: 16px;
  line-height: 1.5;
  font-family: Helvetica, sans-serif;
}

p ul ol {
  padding-bottom: 1.5rem;
}

ul ol {
  padding-left: 1.5rem;
}

h1 h2 h3 h4 h5 h6 {
  line-height: 1.2;
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-family: Georgia;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
  font-family: Arial, sans-serif;
}

thead {
  background-color: #d3d3d3;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

blockquote {
  border-left: 2px solid gray;
}

blockquote p {
  color: black;
  font-style: italic;
  padding-left: 20px;
}

#quote-author {
  text-align: right;
}