@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  color: #7F838C;
  text-align: center;
}

.average {
  font-style: italic;
  color: black;
}

p {
  font-family: "Montserrat", sans-serif;
}