html {
  font-style: sans-serif;
}

form.login {
  max-width: 25em;
  margin: 0 auto;
}

fieldset {
  background-color: #fff;
  border: none;
  border-radius: 0.6em;
  box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
  padding: 2em 3em;
}

input[type="email"],
input[type="password"] {
  display: block;
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 0.3em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}


button {
  display: block;
  width: 100%;
}

fieldset h2 {
  display: inline-block;
  font-size: 20px;
  padding-bottom: 1em;
}

label {
  font-weight: bold;
}

.field {
  padding-bottom: 1.5em;
}

button {
  background-color: #FF8C00;
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 1em 2em;
  border-radius: 0.4em;
}

i {
  font-size: 8px;
  color: #999;
}

hr {
  margin-bottom: 1em;
  width: 7.5em;
}

span {
  color: red;
  font-weight: bold;
}

label[for="email"]::after {
  content: "📧"; /* Email emoji */
  margin-left: 13.4em;
}

label[for="password"]::after {
  content: "🔑"; /* Password emoji */
  margin-left: 11em;
}