* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font: 11px/1.5 Verdana, sans-serif;
}

body {
  min-height: 100dvh;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.keyboard {
  background-color: #ccc;
  border: 2px solid #ccc;
  border-radius: 0.9em;
  box-shadow: 0 0.3em 0 0 #bbb;
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  padding: 1em;
}

.keyboard .row {
  display: flex;
  gap: 0.6em;
}

.keyboard .key {
  padding: 1em 1.4em;
  border: 1px solid #ccc;
  border-radius: 0.3em;
  background-color: white;
  box-shadow: 0 0.2em 0 0 #bbb;
  text-align: center;
  position: relative; /* clicking a button animation */
}

.keyboard .key.special {
  background-color: #eee;
}

.keyboard .key.grow {
  flex: 1 1 auto;
}

/* Clicking a button animation */
.keyboard .key:active {
  top: 2px;
  box-shadow: 0 0.5 0 0 #bbb;
}

.keyboard .key.enter {
  border-bottom-right-radius: 0;
}

.keyboard .key.enter::after {
  content: '';
  display: block;
  width: 8em;
  height: 4.4em;
  border: 1px solid #ccc;
  border-radius: 0.3em;
  background-color: #eee;
  box-shadow: inherit;
  position: absolute;
  right: -1px;
  top: 100%;
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}