* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  background-color: #eee;
}

.bar {
  background-color: #EEE;
  border: 1px solid #AAA;
  border-radius: 5px;
  box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
  padding: 0.5em;
  margin: 2em auto;
  width: 1000px;
}

.buttons {
  display: flex;
  color: orange;
  background-color: #EEE;
}

.buttons > p{
  padding: 0.8em;
  margin-right: 1em;
  background-color: #FFF;
  border: 1px solid #AAA;
  border-radius: 5px;
  font-weight: bold;
}